name: Build binaries
run-name: Building dstr
on: [push]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.12.0-dev.86+197d9a9eb

      - run: echo ${{ github.ref_name }} > src/VERSION.txt      
      - run: cat src/VERSION.txt
      - run: zig build test
       
      - name: Build x86 Linux
        run: ./build_pak.sh x86_64-linux
      
      - name: Build arm64 macOS
        run: ./build_pak.sh aarch64-macos

      - name: Build x86 macOS
        run: ./build_pak.sh x86_64-macos

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: releases/*
